<div class="calculator">
    @if (showResults)
    {
        <div class="container has-content">
            <Result Datasource="@datasource" />

            <div class="buttons">
                <button @onclick="MakeAnother">
                    <box-icon name="refresh"></box-icon>
                    <span>Realizar otro análisis</span>
                </button>
            </div>
        </div>
    }

    else
    {
        <Upload OnUploaded="OnUploaded" />
    }
</div>

@code {
    private bool showResults = false;
    private IEnumerable<IEnumerable<double>> datasource;

    private void OnUploaded(IEnumerable<IEnumerable<double>> data)
    {
        datasource = data;
        showResults = true;
    }

    private void MakeAnother()
    {
        datasource = null;
        showResults = false;
    }
}