<div class="result">
    <div class="container has-table">
        <table>
            <thead>
                <tr>
                    <th>
                        <abbr title="Número de fila">N° Fila</abbr>
                    </th>
                    <th>
                        <abbr title="Media arimetica">Promedio</abbr>
                    </th>
                    <th>
                        <abbr title="Desviación estándar">Desviación</abbr>
                    </th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Datasource.Count(); i++)
                {
                    <tr>
                        <td>#@( i + 1 )</td>
                        <td>@( averages[i] )</td>
                        <td>@( deviations[i] )</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<IEnumerable<double>> Datasource { get; set; }

    private double[] averages;
    private double[] deviations;

    protected override void OnParametersSet()
    {
        var data = Datasource.ToList();

        // set of results from the calculation

        averages = new double[data.Count()];
        deviations = new double[data.Count()];

        var averageCalculator = new Application.AverageCalculator();
        var deviationCalculator = new Application.DeviationCalculator();

        for (int row = 0; row < Datasource.Count(); row++)
        {
            averages[row] = averageCalculator.Calculate(data[row]);
            deviations[row] = deviationCalculator.Calculate(data[row]);
        }
    }
}
