/* upload */

.upload {
    position: relative;
    padding: 1.5rem;
    border: dashed .1rem rgba(0,0,0,0.15);
    border-radius: 1rem;
    transition: all ease .15s;
}

.upload:hover {
    border-color: rgba(0,0,0,.4);
}

.upload .container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.upload input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
