@page "/"

<div class="content has-gap">
    <section class="calculator">
        <Calculator />
    </section>

    <section class="description">
        <div class="container has-content">
            <h4>Hola humano!</h4>
            <p>Este fue un proyecto desarrollado por el equipo Kuic conformado por: Amy Lorena Cuadros, Johan Sebastian Vargas y Andres Camilo Celis.</p>
            <blockquote class="is-success">
                <span>Este proyecto hace parte de una entrega para la competencia de buenas prácticas.</span>
            </blockquote>
        </div>
    </section>
</div>